:root {
    --tamanho-tabuleiro: 500px;
    --espacao-entre-pecas: 10px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabuleiro {
    background: repeating-conic-gradient( rgb(100, 91, 83) 0%, rgb(235, 82, 82) 18.23%, rgb(247, 143, 47) 34.37%, rgb(244, 193, 81) 48.96%, rgb(82, 187, 118) 66.15%, rgb(38, 165, 215) 82.29%, rgb(224, 105, 183) 100%);
    padding: 10px;
    width: var(--tamanho-tabuleiro);
    height: var(--tamanho-tabuleiro);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--espacao-entre-pecas);
    position: relative;
}

.posicao {
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.posicao .icone {
    font-size: 50px;
}
.posicao .icone.fa-close {
    color: #f00;
}
.posicao .icone.fa-circle {
    color: #0f0;
}
.traco {
    position: absolute;
    width: 0;
    height: 10px;
    background-color: #0f0;
    left: var(--espacao-entre-pecas);
    transform-origin: 0%;
    border-radius: 10px;
}
@keyframes animacaoTraco {
    0% {
        width: 0%;
    }
    100% {
        width: var(--tamanho-tabuleiro);
    }

}
.traco.p {
    display: block;
    animation: animacaoTraco 1s linear forwards;
}
.traco.p1 {
    top: 16.5%;
}
.traco.p2 {
    top: 50%;
}
.traco.p3 {
    top: calc(82.5% - 5px);
}
.traco.p4 {
    transform: rotate(90deg);
    top: calc(var(--espacao-entre-pecas) / 2);
    left: 16.5%;
}
.traco.p5 {
    transform: rotate(90deg);
    top: calc(var(--espacao-entre-pecas) / 2);
    left: 50%;
}
.traco.p6 {
    transform: rotate(90deg);
    top: calc(var(--espacao-entre-pecas) / 2);
    left: 82.5%;
}
.traco.p7 {
    transform: rotate(45deg) scale(1.15, 1);
    top: 8%;
    left: 8%;
}
.traco.p8 {
    transform: rotate(135deg) scale(1.15, 1);
    top: 8%;
    left: 92%;
    
}
.overlay {
    /* background: repeating-conic-gradient(rgba(255,255,0, 0.5) 0 2%, rgba(0,0,0,0.5) 2% 4%); */
    /* background-color: rgba(0, 0, 0, 0.6); */
    background: conic-gradient( rgb(224, 105, 183) 0%, rgb(235, 82, 82) 18.23%, rgb(247, 143, 47) 34.37%, rgb(244, 193, 81) 48.96%, rgb(82, 187, 118) 66.15%, rgb(38, 165, 215) 82.29%, rgb(224, 105, 183) 100%);
    background-size: 100%;
    position: fixed;
    height: 200vw;
    width: 200vw;
    align-items: center;
    justify-content: center;
    display: none;
    backdrop-filter: blur(10px);
    opacity: 0;
    cursor: pointer;
}
@keyframes girar {
   
}
.overlay.ganhou {
    display: flex;
    animation: animacaoGanhou 1s 1s ease-in-out forwards,
    girar 5s linear infinite;
}
@keyframes animacaoGanhou {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
    
.overlay .ganhador {
    display: flex;
    gap: 20px;
    /* animation: girar 5s linear infinite reverse; */
}
.overlay .ganhador i {
    font-size: 100px;
    text-shadow: 3px 3px 20px #000, 3px 3px 20px #000;
}
.overlay .ganhador h1 {
    font-size: 50px;
    text-shadow: 3px 3px 20px #000, 3px 3px 20px #000;
}
.overlay .ganhador i.fa-close, .overlay .ganhador i.fa-close + h1 {
    color: #f00;
}
.overlay .ganhador i.fa-circle, .overlay .ganhador i.fa-circle + h1 {
    color: #0f0;
}